/* best practice */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* common styles start here */
nav,
footer,
section {
  margin: 0 15px;
}

main {
  /* max-width: 1600px; */
  margin: 0 auto;
}

p {
  margin: 5px 0;
}

/* common styles end here */
/* navbar styles start here */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 60px #0000000f;
          box-shadow: 0 3px 60px #0000000f;
  height: 70px;
}

nav ul {
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 5px 8px;
  font-size: 1rem;
  border-radius: 2px;
  margin-left: 10px;
}

/* navbar styles end here */
/*food items section style start here */
.food_item {
  /* max-width: 1600px; */
  margin: 20px auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr (1fr)[2];
      grid-template-columns: 1.4fr repeat(2, 1fr);
}

.food_item_contents {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.food_item_contents h2 {
  position: relative;
  font-size: 2rem;
  padding: 10px 0;
  margin-bottom: 10px;
}

.food_item_contents img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 600px;
}

.food_item_contents h4 {
  color: #b69a81;
  font-weight: bold;
  margin: 20px 0;
}

.serving_subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.serving_subtext_heading {
  font-weight: bold;
  margin-right: 10px;
}

.food_item_contents .contains {
  margin-top: 20px;
  color: #db0007;
}

.nutrition_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #db0007;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  padding: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
          box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
}

.nutrition_contents_subtext {
  padding: 0 20px;
  position: relative;
}

.nutrition_contents_subtext_heading {
  font-size: 15px;
  font-weight: 400;
}

.nutrition_contents_subtext_value {
  font-weight: 700;
}

.food_item .ingredients {
  width: 270px;
  background: rgba(255, 255, 255, 0.65);
  padding: 30px;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 3px 60px #0000000f;
          box-shadow: 0 3px 60px #0000000f;
  -ms-grid-column-align: end;
      justify-self: end;
}

.food_item .ingredients .ingredients_heading {
  font-weight: 700;
  margin-bottom: 20px;
}

.food_item .ingredients .ingredients_text {
  color: #b69a81;
}

/*food items section style end here */
/* Order & Delivered section style start here*/
.oreder_delivered_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  background-color: #ffbb0f;
  margin: 0px !important;
}

.oreder_delivered_section_image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oreder_delivered_section_image img {
  width: 100%;
}

.oreder_delivered_section_contents {
  background-color: #fff;
  width: 50%;
  margin-top: 80px;
  padding: 80px 50px 80px 20px;
  border-radius: 20px 20px 0 0;
}

.oreder_delivered_section_heading_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.oreder_delivered_section_contents h1 {
  font-size: 44px;
  margin: 30px 0;
  font-weight: bold;
}

.subheading {
  color: #b69a81;
  font-weight: bold;
  margin: 20px 0;
}

.order_now_btn {
  font-size: 16px;
  padding: 20px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 45px;
  width: 255px;
  background: #db0007;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
  -webkit-box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
          box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
}

.now_also_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

.now_also_section_heading {
  font-weight: bold;
  font-size: 14px;
}

.now_also_section_images img {
  margin-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Order & Delivered section style end here*/
/*offers_news_section start here*/
.offers_news_section {
  position: relative;
}

.offers_news_section_bg img {
  width: 50%;
}

.offers_news_section_main {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers_news_section_main > img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  width: 500px;
}

.offers_news_section_contents h1 {
  font-size: 3rem;
}

.offers_news_section_main form input {
  font-size: 24px;
  color: #000;
  border: none;
  padding: 15px 20px;
  border-radius: 45px;
  outline: none;
}

.offers_news_section_main form button {
  font-size: 16px;
  padding: 20px 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 45px;
  width: 255px;
  background: #db0007;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
          box-shadow: 0 3px 40px rgba(97, 0, 3, 0.1);
}

.follow_now_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow_text {
  font-weight: bold;
  margin-right: 20px;
}

.social_icons a {
  text-decoration: none;
  margin-left: 10px;
}

.social_icons input {
  padding: 10px 2px;
}

.social_icons img {
  margin-bottom: 10px;
}

/*offers_news_section end here*/
/*footer start here*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_extra_links a {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 2px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000;
}

.copyright_link img {
  display: block;
  height: 20px;
  width: 45px;
  margin-bottom: 5px;
}

/*footer end here*/
/** Day 09 New CSS **/
body {
  cursor: url("../assets/images/mc-cursor.png"), auto;
}

/* scrollbar start here */
/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #fff;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db0007;
}

/* scrollbar end here */
/* nav bar start here */
nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 20px;
  margin: 0 !important;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

/* nav bar end here */
/* New Hero Section start here*/
.new_hero_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffbb0f;
  color: #db0007;
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0 !important;
  position: relative;
}

.new_hero_section_content {
  padding-left: 20px;
  padding-right: 10px;
}

.new_hero_section_content span {
  color: transparent;
  -webkit-text-stroke: #db0007;
  -webkit-text-stroke-width: 2px;
  font-size: 3.5rem;
}

.new_hero_section_image {
  position: relative;
}

.gradient_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 0, 7, 0.3)), color-stop(50%, rgba(203, 212, 214, 0.2)), to(rgba(203, 212, 214, 0.1)));
  background: linear-gradient(180deg, rgba(219, 0, 7, 0.3) 0%, rgba(203, 212, 214, 0.2) 50%, rgba(203, 212, 214, 0.1) 100%);
}

.new_hero_section_image img {
  width: 100%;
  height: 100vh;
  z-index: 2;
}

/** down arrow **/
.new_hero_section .down_arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.down_arrow svg {
  width: 35px;
  fill: #db0007;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* animation: bounce 1s infinite ease-in-out; */
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* New Hero Section end here*/
/*offers_news_section start here*/
.follow_text {
  /* animation: movetext 3s infinite ease-in-out; */
  -webkit-animation-name: movetext;
          animation-name: movetext;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes movetext {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes movetext {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.social_icons a {
  display: inline-block;
  -webkit-animation: rotate 3s infinite ease-in-out;
          animation: rotate 3s infinite ease-in-out;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

/*offers_news_section end here*/
nav {
  position: fixed;
  z-index: 100;
}

nav ul a {
  position: relative;
  text-align: center;
}

nav ul a:hover:after {
  content: '';
  position: absolute;
  width: calc(100%);
  left: 0;
  bottom: -10px;
  height: 1px;
  background: #ffbb0f;
  -webkit-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
  -webkit-animation: slide 0.3s ease-in-out;
          animation: slide 0.3s ease-in-out;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav #menu-toggle {
  display: none;
}

nav .menu-button-container img {
  display: none;
}

@media (max-width: 500px) {
  nav .menu-button-container img {
    display: block;
  }
  nav .menu {
    position: absolute;
    top: 70px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding-bottom: 10px;
  }
  nav .menu a {
    padding: 10px 0;
    width: 100%;
    margin: 0 !important;
    color: #444444;
  }
  nav .menu a:hover:after {
    display: none;
  }
  nav #menu-toggle ~ .menu {
    visibility: hidden;
  }
  nav #menu-toggle:checked ~ .menu {
    visibility: visible;
  }
}

@-webkit-keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.restaurant_locator_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
}

.restaurant_locator_section .heading {
  position: relative;
  width: 90%;
  text-align: center;
}

.restaurant_locator_section .heading h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 50px;
}

.restaurant_locator_section .heading img {
  position: relative;
  z-index: -1;
  top: -50px;
}

.restaurant_locator_section .location_map_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url("../assets/images/bg_location.jpg");
  padding: 40px 0;
}

.restaurant_locator_section .location_map_container .location_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 30px 20px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 300px;
  -webkit-box-shadow: 0 3px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 60px rgba(0, 0, 0, 0.2);
}

.restaurant_locator_section .location_map_container .location_item:after {
  content: "";
  position: absolute;
  background: url("../assets/images/logos/melting-cheese-white.svg") no-repeat;
  width: 80px;
  height: 11px;
  bottom: -10px;
  left: calc(50% + 30px);
}

.restaurant_locator_section .location_map_container .location_item .dinein, .restaurant_locator_section .location_map_container .location_item .delivery, .restaurant_locator_section .location_map_container .location_item .phone_no {
  font-weight: bold;
  font-size: 14px;
}

.restaurant_locator_section .location_map_container .location_item .dinein span, .restaurant_locator_section .location_map_container .location_item .delivery span {
  text-transform: uppercase;
  color: green;
  padding-left: 5px;
}

.restaurant_locator_section .location_map_container .location_item .phone_no {
  color: #B69A81;
}

.restaurant_locator_section .location_map_container .location_item .phone_no span {
  margin-right: 5px;
}

.restaurant_locator_section .location_map_container .location_item button {
  background: #DB0007;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0;
  -webkit-box-shadow: 0 3px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 60px rgba(0, 0, 0, 0.2);
  border-radius: 45px;
  margin-top: 15px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
}

.restaurant_locator_section .location_map_container .location_item button:hover {
  background: black;
}

.oreder_delivered_section .oreder_delivered_section_contents {
  position: relative;
  border-radius: 0;
}

.oreder_delivered_section .oreder_delivered_section_contents:after {
  content: "";
  position: absolute;
  background: url("../assets/images/melting-cheese-2.svg") no-repeat;
  width: 100%;
  height: 40px;
  top: 0;
  right: -20%;
}

.oreder_delivered_section .oreder_delivered_section_contents .order_now_btn {
  cursor: pointer;
  -webkit-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
}

.oreder_delivered_section .oreder_delivered_section_contents .order_now_btn:hover {
  background-color: black;
}

.oreder_delivered_section .oreder_delivered_section_contents .now_also_section_images img {
  cursor: pointer;
}

.offers_news_section .offers_news_section_bg {
  position: relative;
}

.offers_news_section .offers_news_section_bg:after {
  content: "";
  background: url("../assets/images/french_fries.png") no-repeat;
  position: absolute;
  left: 10%;
  width: 50%;
  height: 200px;
  bottom: 0;
}

.offers_news_section button {
  cursor: pointer;
  -webkit-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
}

.offers_news_section button:hover {
  background-color: black;
}

footer .footer_extra_links a {
  text-align: center;
}

footer .footer_extra_links a:hover {
  text-decoration: underline;
}

footer .copyright_link {
  position: relative;
  color: #807efa;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

footer .copyright_link:hover:before {
  content: "Devs";
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-animation: zoom 0.1s ease-in-out;
          animation: zoom 0.1s ease-in-out;
}

footer .copyright_link:hover:after {
  content: "Nest";
  position: absolute;
  top: 0;
  right: -100%;
  -webkit-animation: zoom 0.1s ease-in-out;
          animation: zoom 0.1s ease-in-out;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.9;
  }
}

/*********************
BREAKPOINTS
*********************/
/* for mobile */
@media only screen and (max-width: 768px) {
  /* navbar start here*/
  /* navbar end here*/
  /* all fooditems start here */
  .food_item {
    display: block;
  }
  .food_item .nutrition_contents {
    padding: 2px 8px;
  }
  .food_item .nutrition_contents_subtext {
    padding: 0 10px;
    font-size: 0.9rem;
  }
  .food_item .nutrition_contents_subtext_heading {
    font-size: 0.9rem;
  }
  .new_hero_section_content {
    padding-left: 20px;
    padding-right: 10px;
  }
  .new_hero_section_content span {
    color: transparent;
    -webkit-text-stroke: #db0007;
    -webkit-text-stroke-width: 2px;
    font-size: 2.5rem;
  }
  .new_hero_section_image {
    position: relative;
    visibility: hidden;
    top: 0;
  }
  /* all fooditems end here */
  /* restaurant_locator_section start here*/
  .restaurant_locator_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 !important;
  }
  .restaurant_locator_section .heading {
    width: 100%;
    margin: 0;
  }
  .restaurant_locator_section .heading h2 {
    font-size: 3rem;
    margin: 10px 0;
  }
  .restaurant_locator_section .heading img {
    display: none;
  }
  .restaurant_locator_section .location_map_container {
    height: 350px;
    padding: 10px 0;
  }
  /* restaurant_locator_section end here*/
  .oreder_delivered_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .oreder_delivered_section .oreder_delivered_section_image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .oreder_delivered_section .oreder_delivered_section_contents {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 50px 20px 20px 20px;
  }
  .oreder_delivered_section .oreder_delivered_section_contents h1 {
    font-size: 2rem;
  }
  .offers_news_section {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  .offers_news_section .offers_news_section_bg img {
    width: 130%;
  }
  .offers_news_section .offers_news_section_bg:after {
    width: 100%;
  }
  .offers_news_section .offers_news_section_main {
    padding: 0 15px;
  }
  .offers_news_section .offers_news_section_main > img {
    display: none;
  }
  .offers_news_section .offers_news_section_contents h1 {
    font-size: 2rem;
  }
  .offers_news_section .offers_news_section_contents p {
    margin: 20px 0;
  }
  .offers_news_section .offers_news_section_contents form input {
    font-size: 1.2rem;
    padding: 10px 15px;
  }
  .offers_news_section .offers_news_section_contents form button {
    width: 200px;
  }
  .offers_news_section .offers_news_section_contents .follow_now_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */